<%- include("./partials/header.ejs"); %>
<h1 class="title-font against-background">Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button value="login" class="secondary-font">Login</button>
</form>

<%- include("./partials/footer.ejs"); %>