<%- include("../partials/header.ejs"); %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center" class="title-font against-background">Add a New Campground</h1>
		<div style="width: 30%; margin: 35px auto;">
			<form name="newCampgroundForm" action="/campgrounds" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" name="CampgroundName" placeholder="Campground name" required>
				</div>

				<div class="form-group">
						<input class="form-control" type="number" name="CampgroundPrice" placeholder="price" min="0.01" step="0.01" required>
				</div>

				<div class="form-group">
          <label for="image" class="against-background">Image</label>
					<input class="form-control" type="file" id="image" name="CampgroundImage" accept="image/*" required>
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="CampgroundDescription" placeholder="Description">
				</div>

				<h1 class="title-font against-background">Location: Address or coordinates</h1>
				<div class="form-group">
					<input class="form-control" class="location" type="text" name="CampgroundAddress" placeholder="Address">
				</div>

				<div class="form-group">
					<input class="form-control" class="location" type="number" name="CampgroundLatitude" placeholder="latitude" step="0.000001">
				</div>

				<div class="form-group">
					<input class="form-control" class="location" type="number" name="CampgroundLongitude" placeholder="longitude" step="0.000001">
				</div>
				
				<input type="button" value="Add Campground" class="btn btn-lg btn-primary btn-block secondary-font" onclick="validateAndSend()">
			</form>
			<a href="/campgrounds" class="secondary-font">Go back</a>
		</div>
	</div>
</div>

<script>
function validateAndSend() {
	if (newCampgroundForm.CampgroundAddress.value === "") {
		if (newCampgroundForm.CampgroundLatitude.value == "" && newCampgroundForm.CampgroundLongitude.value === "") {
			alert("You must enter either an address or latitude and longitude coordinates");
			return false; //isnt breaking out of func once this is hit, works with input type="button" not with <button>
		} else {
			console.log(newCampgroundForm.CampgroundLatitude.value);
			newCampgroundForm.submit();
		}
	} else {
		console.log(newCampgroundForm.CampgroundAddress.value);
		newCampgroundForm.submit()
	}
}
</script>

<%- include("../partials/footer.ejs"); %>